body {
    margin: 0;
    height: 100vh;
    font-family: Roboto;
    overflow: hidden;

    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

body > .topbar {
    display: none;
}

body > .topbar.ios {
    display: block;
    top: 0;
    height: 20px;
    left: 0;
    right: 0;
    background: #00adef;
}

body > .app-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

body > .app-container.ios {
    top: 20px;
}

.loading-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    padding-left: 16px;
    line-height: 64px;
    background: #550144;
    font-size: 16px;
    color: white;
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-items: center;
}

.loading-header img {
    margin-right: 5px;
}

paper-toolbar .title {
    font-size: 16px !important;
}

@media (max-width: 600px) {
    .loading-header {
        height: 56px;
        line-height: 56px;
    }
}

@media screen and (min-width: 720px) {

    body {
        background-color: gray !important;
    }

    body > .app-container {
        top: 30px;
        right: 30px;
        bottom: 30px;
        left: 30px;
    }

}
