<!---------------------------
LIBRARY NAME: myddoc
MODULE: ui/specialties/delete
----------------------------->

<dom-module id="graphs-especialty-delete">
<script>

  (function (params) {

    var done = params[1];
    var module = params[0];
    var dependencies = module.dependencies.modules;
    var react = module.react.items;

    // Control dependencies 
    module.dependencies.set({"controls":["paper-card","iron-image","graphs-icons"],"require":{"react":"React","react-dom":"ReactDOM","libraries/graphs/ui/entities/delete/control/code":"ControlBase","libraries/graphs/main/code":"graphs"}});

    /****************
     REACT COMPONENTS
     ****************
    
    /var create;
    
    /********
     graph.jsx
     ********/
    
    create = function () {
    
        var React = module.React;
        var exports;
    
        exports = React.createClass({
            displayName: "exports",
        
            'render': function () {
        
                var state = this.props.state;
        
                return React.createElement(
                    "div",
                    { className: "row" },
                    React.createElement(
                        "div",
                        { className: "col-xs-12 col-sm-12 col-md-12" },
                        React.createElement(
                            "paper-card",
                            { "class": "item-graph" },
                            React.createElement(
                                "div",
                                { className: "image-item" },
                                React.createElement("iron-image", {
                                    sizing: "cover",
                                    preload: true,
                                    src: state.picture })
                            ),
                            React.createElement(
                                "div",
                                { className: "graph-content" },
                                React.createElement(
                                    "div",
                                    { className: "card-content" },
                                    React.createElement(
                                        "div",
                                        { className: "graph-header" },
                                        state.name
                                    ),
                                    React.createElement(
                                        "div",
                                        { className: "graph-name" },
                                        state.about
                                    )
                                )
                            )
                        )
                    )
                );
            }
        });
    
        return exports;
    
    };
    
    module.react.register('graph', create);
    
    
    
    /************
    js\control.js
    ************/
    
    module.done(function (dependencies) {
        "use strict";
    
        new dependencies.ControlBase({
            'module': module,
            'graphs': dependencies.graphs,
            'entity': {'id': '32'}
        });
    
    });
    
    
    
    done('libraries/myddoc/ui/specialties/delete', 'code');

  })(beyond.modules.get('libraries/myddoc/ui/specialties/delete'));

</script>
</dom-module>