<!-----------
MODULE: icons
------------->

<link rel="import" href="libraries/vendor/static/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="libraries/vendor/static/bower_components/iron-iconset-svg/iron-iconset-svg.html">
<iron-iconset-svg name="gyneconet" size="24">
<svg><defs>

    <g
        id="comment"
        transform="matrix(0.81805167,0,0,0.81805167,5.277e-8,4.090786e-4)">
        <path
            style="fill:#010002"
            d="M 27.184,1.605 H 2.156 C 0.967,1.605 0,2.572 0,3.76 v 17.572 c 0,1.188 0.967,2.155 2.156,2.155 h 13.543 l 5.057,3.777 c 0.414,0.31 0.842,0.468 1.268,0.468 0.789,0 1.639,-0.602 1.637,-1.923 v -2.322 h 3.523 c 1.188,0 2.154,-0.967 2.154,-2.155 V 3.76 c 0,-1.188 -0.967,-2.155 -2.154,-2.155 z m 0.156,19.727 c 0,0.085 -0.068,0.155 -0.154,0.155 h -5.523 v 3.955 L 16.366,21.486 H 2.156 c -0.086,0 -0.154,-0.07 -0.154,-0.155 V 3.759 c 0,-0.085 0.068,-0.155 0.154,-0.155 v 10e-4 h 25.029 c 0.086,0 0.154,0.07 0.154,0.155 l 0.001,17.572 0,0 z M 5.505,10.792 h 4.334 v 4.333 H 5.505 c 0,0 0,-4.333 0,-4.333 z m 7,0 h 4.334 v 4.333 h -4.334 v -4.333 z m 7,0 h 4.334 v 4.333 h -4.334 v -4.333 z"
            id="path3029"
            inkscape:connector-curvature="0"/>
    </g>
    <g
    
        id="icon"
        transform="translate(0,-290.64998)">
        <g
            style="fill:#ffffff;stroke-width:5.85717535"
            id="g10513"
            transform="matrix(0.071969,0,0,0.071969,-90.172408,294.81736)">
            <path
    
                style="color:#000000;display:inline;overflow:visible;visibility:visible;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:175.56678772;marker:none;enable-background:accumulate"
                d="m 1261.0317,-36.541149 c -6.4088,-0.07051 -9.7378,3.258663 -7.2943,15.042112 5.0376,24.2930066 29.1301,41.956346 46.4869,45.920014 0.1655,0.03217 0.2782,0.04221 0.4536,0.07559 2.1967,0.418966 5.086,0.884845 6.236,0.03773 1.4003,-1.031415 2.4274,-3.523779 2.5322,-3.968397 2.7466,-11.6548264 -7.6732,-27.1561772 -4.6487,-34.279383 1.7051,-5.518347 8.4139,-11.737189 3.7795,-17.234178 -0.1337,-0.158482 -0.2506,-0.269954 -0.378,-0.415737 -0.6354,0.126759 -1.2883,0.27871 -2.0787,0.491326 -15.1706,4.081089 -34.4073,-5.551631 -45.0885,-5.669138 z"
                id="path7310-1-8-1-0-9"/>
            <g
                style="fill:#ffffff;stroke-width:5.85717535"
                transform="translate(12.553327)"
                id="g10504">
                <path
    
                    id="path7306-0-7-3-3"
                    d="m 1291.6772,24.950071 c 0.3442,0.01621 0.7107,0.05672 1.0205,0.03773 0.6773,-0.04136 1.2796,-0.171181 1.6629,-0.453531 0.7001,-0.515707 1.293,-1.378371 1.7385,-2.192066 0.4456,-0.813696 0.7413,-1.554027 0.7937,-1.77633 0.3433,-1.456851 0.4698,-2.983073 0.4536,-4.53531 -0.016,-1.552237 -0.1817,-3.161946 -0.4536,-4.762076 -0.5438,-3.2002596 -1.5142,-6.4171852 -2.4566,-9.5241507 -0.9424,-3.1069655 -1.872,-6.096654 -2.381,-8.7304718 -0.2546,-1.3169089 -0.3878,-2.5386488 -0.378,-3.6660425 0.01,-1.127393 0.1889,-2.170938 0.5669,-3.061334 0.4263,-1.379593 1.1299,-2.786301 1.9275,-4.232956 0.7977,-1.446655 1.686,-2.916011 2.3433,-4.384133 0.6572,-1.468122 1.0908,-2.940139 1.096,-4.384133 0,-0.721997 -0.084,-1.446861 -0.3401,-2.154272 -0.2564,-0.707412 -0.6679,-1.391554 -1.2472,-2.078684 -1.5613,-1.851773 -2.5824,-2.74408 -3.5314,-3.342959 -23.1184,-1.240595 -56.4079,-26.385381 -48.209,4.552375 8.3085,31.350917 26.3879,50.797758 47.394,54.68828 z"
                    style="color:#000000;display:inline;overflow:visible;visibility:visible;opacity:0.7;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:175.56678772;marker:none;enable-background:accumulate"/>
                <path
                    id="path7308-9-5-3-8"
                    d="m 1315.4876,-52.565935 c -1.9133,0.127375 -3.1664,2.467402 -4.5353,5.442372 -3.0291,6.344729 -4.3534,10.298213 -10.3178,12.509896 -0.1837,0.170661 -0.3143,0.406957 -0.3402,0.680297 -0.026,0.27334 0.053,0.596375 0.2646,1.020445 0.4481,0.556863 0.7046,1.06558 0.8314,1.511769 0.1269,0.44619 0.1198,0.831583 0.038,1.209417 -0.1637,0.755679 -0.622,1.418052 -0.9449,2.154272 -0.497,1.07251 -0.7118,2.168882 -0.7559,3.288099 -0.044,1.119218 0.068,2.259927 0.3024,3.363689 0.4686,2.207535 1.3161,4.312027 1.8519,6.084874 0.3932,1.204929 0.7011,2.528514 0.9071,3.892808 0.2059,1.364294 0.3386,2.7860346 0.3779,4.27075 0.079,2.9694428 -0.178,6.1175527 -0.6425,9.3351798 -0.4645,3.217627 -1.1602,6.4830986 -2.0031,9.6375332 -0.8429,3.154436 -1.8157,6.215177 -2.8724,8.995032 -0.187,0.492099 -0.3024,1.037558 -0.2645,1.473976 0.038,0.436418 0.2084,0.76123 0.5669,0.793679 0.2914,0.02636 1.0707,-0.515985 1.6629,-0.831473 37.6029,-23.5791981 33.7713,-76.024084 15.8736,-74.832615 z m -16.8184,42.367354 c 0.1466,0.06688 -0.7423,0.183553 -0.7559,0.03773 -0.014,-0.145771 1.2642,5.8353108 1.1338,10.39341828 0.539,-1.41112238 -0.5246,-10.49814228 -0.3779,-10.43121328 z"
                    style="color:#000000;display:inline;overflow:visible;visibility:visible;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:175.56678772;marker:none;enable-background:accumulate"
                />
                <path
                    id="path7310-1-8-1-0"
                    d="m 1248.4784,-36.541174 c -6.4088,-0.07051 -9.7378,3.258663 -7.2943,15.042112 5.0376,24.293007 29.1301,41.956346 46.4869,45.920014 0.1655,0.03217 0.2782,0.04221 0.4536,0.07559 2.1967,0.418966 5.086,0.884845 6.236,0.03773 1.4003,-1.031414 2.4274,-3.523779 2.5322,-3.968396 2.7466,-11.6548278 -7.6732,-27.1561787 -4.6487,-34.279385 1.7051,-5.518347 8.4139,-11.737189 3.7795,-17.234178 -0.1337,-0.158482 -0.2506,-0.269954 -0.378,-0.415737 -0.6354,0.126759 -1.2883,0.27871 -2.0787,0.491326 -15.1706,4.081089 -34.4073,-5.551631 -45.0885,-5.669138 z"
                    style="color:#000000;display:inline;overflow:visible;visibility:visible;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:175.56678772;marker:none;enable-background:accumulate"
                />
                <path
    
                    id="path7312-0-7-2-3"
                    d="m 1257.9269,-52.528141 c -3.9516,0.07994 -6.2728,4.089858 -5.8959,15.571231 1.0884,33.1510477 22.3973,59.472935 40.6289,61.944775 0.012,0.0012 0.026,-0.0012 0.038,0 0.6773,-0.04136 1.2796,-0.17118 1.6629,-0.453531 1.1704,-0.862059 2.0144,-2.692462 2.3433,-3.552659 0.084,-0.303938 0.1847,-0.617987 0.2645,-0.907062 2.3631,-11.5967756 -7.7079,-26.7611107 -4.7242,-33.788059 1.1722,-3.793866 4.6967,-7.905868 5.2912,-11.905189 0.2702,-1.817873 -0.063,-3.611183 -1.5118,-5.32899 -1.692,-2.006929 -2.8675,-2.970628 -3.8673,-3.558537 -0.3942,-0.231796 -0.7335,-0.405541 -1.1215,-0.561036 -0.3182,-0.127484 -0.6916,-0.209688 -0.9827,-0.302305 -11.8054,-3.970767 -24.7896,-17.306973 -32.1251,-17.158638 z"
                    style="color:#000000;display:inline;overflow:visible;visibility:visible;opacity:0.82159627;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:175.56678772;marker:none;enable-background:accumulate"/>
                <path
    
                    style="color:#000000;display:inline;overflow:visible;visibility:visible;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:53.23310471;marker:none;enable-background:accumulate"
                    d="m 1297.4111,-40.518997 a 3.4139559,2.5174626 70.352528 0 1 -1.223,4.061634 3.4139559,2.5174626 70.352528 0 1 -3.5187,-2.368735 3.4139559,2.5174626 70.352528 0 1 1.223,-4.061675 3.4139559,2.5174626 70.352528 0 1 3.5187,2.368776 z"
                    id="path7314-3-9-2-9"/>
            </g>
        </g>
    </g>
    
</defs></svg>
</iron-iconset-svg>
