<!------------------
LIBRARY NAME: myddoc
MODULE: ui/icons
-------------------->

<iron-iconset-svg name="myddoc" size="24">
<svg><defs>

    <g id="doctor"
       transform="scale(0.52449845)">
        <circle
            cx="22.868999"
            cy="7.7509999"
            r="7.7509999"
            id="circle9477"/>
        <path
            d="m 22.87,23.945 c 3.325,0 6.03,-2.742 6.03,-6.03 H 16.839 c 0,3.288 2.705,6.03 6.031,6.03 z"
            id="path9479"/>
        <path
            d="m 31.899,17.977 c -0.034,4.431 -3.28,8.111 -7.509,8.821 v 7.277 c 0,3.748 -2.832,7.039 -6.574,7.251 -3.874,0.22 -7.129,-2.75 -7.36,-6.521 -1.026,-0.597 -1.664,-1.796 -1.415,-3.113 0.221,-1.174 1.193,-2.131 2.372,-2.33 1.854,-0.314 3.459,1.104 3.459,2.898 0,1.072 -0.574,2.01 -1.432,2.524 0.219,2.12 2.105,3.752 4.324,3.551 2.082,-0.188 3.606,-2.073 3.606,-4.164 v -7.375 c -4.227,-0.709 -7.475,-4.39 -7.509,-8.821 -4.175,0.539 -7.387,4.106 -7.387,8.427 v 15.619 c 0,2.063 1.674,3.737 3.737,3.737 h 25.335 c 2.064,0 3.738,-1.673 3.738,-3.737 V 26.404 c 0.003,-4.321 -3.21,-7.888 -7.385,-8.427 z"
            id="path9481"/>
    </g>
    
    <g id="attach-money">
        <path
            d="M11.8 10.9c-2.27-.59-3-1.2-3-2.15 0-1.09 1.01-1.85 2.7-1.85 1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81V3h-3v2.16c-1.94.42-3.5 1.68-3.5 3.61 0 2.31 1.91 3.46 4.7 4.13 2.5.6 3 1.48 3 2.41 0 .69-.49 1.79-2.7 1.79-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83V21h3v-2.15c1.95-.37 3.5-1.5 3.5-3.55 0-2.84-2.43-3.81-4.7-4.4z"/>
    </g>
    
    <g id="call">
        <path
            d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
    </g>
    <g id="call-end">
        <path
            d="M12 9c-1.6 0-3.15.25-4.6.72v3.1c0 .39-.23.74-.56.9-.98.49-1.87 1.12-2.66 1.85-.18.18-.43.28-.7.28-.28 0-.53-.11-.71-.29L.29 13.08c-.18-.17-.29-.42-.29-.7 0-.28.11-.53.29-.71C3.34 8.78 7.46 7 12 7s8.66 1.78 11.71 4.67c.18.18.29.43.29.71 0 .28-.11.53-.29.71l-2.48 2.48c-.18.18-.43.29-.71.29-.27 0-.52-.11-.7-.28-.79-.74-1.69-1.36-2.67-1.85-.33-.16-.56-.5-.56-.9v-3.1C15.15 9.25 13.6 9 12 9z"/>
    </g>
    
</defs></svg>
</iron-iconset-svg>
